.customer-grid{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.center-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.customer-grid .card-grid{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    text-align: center;
}

.customer-grid .textfield{
    width : 300px;
    margin-bottom: 5px;
}

.customer-grid .add-button,.close-btn{
    width : 300px;
}

.customer-grid .card-size {
    width: 250px;
    height: 230px;
  }
